---
layout: default
noFooter: true
---

<style>
  #about {
    max-width: 550px;
    margin: 0 auto 2em;
    padding: 0 1rem;
  }
</style>

<div id="about">
  <p>
    {% localize index.1 %}
  </p>
  <p>
    {% localize index.2 %}
  </p>
</div>

<div class="nav-wrapper">
  <a class="nav start" href="no-layout.html">{% localize index.get_started %}</a>
</div>

<div id="translator">
  {% localize index.translator %}
</div>

<div id="translations">
  <span><a href="../en">{% localize index.english %}</a></span>
  <span><a href="../es">{% localize index.spanish %}</a></span>
  <span><a href="../fr">{% localize index.french %}</a></span>
  <span><a href="../de">{% localize index.german %}</a></span>
  <span><a href="../nl">{% localize index.dutch %}</a></span>
  <span><a href="../it">{% localize index.italian %}</a></span>
  <span><a href="../pt-br">{% localize index.pt-br %}</a></span>
  <span><a href="../pt-pt">{% localize index.pt-pt %}</a></span>
  <span><a href="../ru">{% localize index.russian %}</a></span>
  <span><a href="../fa">{% localize index.persian %}</a></span>
  <span><a href="../ar">{% localize index.arabic %}</a></span>
  <span><a href="../zh">{% localize index.chinese %}</a></span>
  <span><a href="../zh-tw">{% localize index.tradchinese %}</a></span>
  <span><a href="../ko">{% localize index.korean %}</a></span>
  <span><a href="../ja">{% localize index.japanese %}</a></span>
</div>
